.full-screen-page {
  min-height: 100vh;
}

a {
  cursor: pointer;
  color: unset;
}

a:hover {
  color: unset;
}

a:hover {
  text-decoration: none;
}

.navbar-icon-img {
  width: 1.35rem;
  vertical-align: top;
}

.ace-editor {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ace-editor-navbar,
.ace-editor-navbar .dropdown-menu {
  font-size: 12px;
}

.ace-editor-title-tab {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #232323;
}

.hidden-file-selector {
  display: none;
}

.navbar-icon-img {
  width: 1.35rem;
  vertical-align: top;
}

#footer a {
  color: unset;
}

.invisible {
  opacity: 0;
}

#active-file-preview hr {
  border-color: #f8f9fa;
}

#active-file-preview a {
  text-decoration: underline;
}

#active-file-preview img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#active-file-preview pre {
  padding: 1rem 1.5rem;
  /* Copy from Ace theme */
  color: rgb(200, 195, 188) !important;
  background-color: #222526 !important;
}

#active-file-preview blockquote {
  padding-left: 1rem;
}

option.text-black {
  color: rgb(26, 29, 30);
}