html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
    cursor: pointer;
}

#title-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    margin-bottom: 0;
}

#main-body {
    padding-top: 56px;
    max-width: 100%;
}

#editor {
    font-family: monospace;
    font-size: x-large;
}

#preview{
    font-size: x-large;
}

#editor:focus {
    outline: 0;
}

.bg-black {
    background-color: black;
}

.last-item-h-100 {
    display: flex;
    flex-direction: column;
}

.last-item-h-100 > :last-child {
    flex-grow: 1;
}

#preview pre {
    padding: 1rem 0 1rem 2rem;
    font-size: medium;
}

#preview.text-white pre {
    color: #dcdcdc;
}